@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
  min-height: 100%;
}

html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #92a4ba;
}
.header::before {
  content: "━ ";
  color: #c9ada7;
}
.header::after {
  content: " ━";
  color: #c9ada7;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
